* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif !important;
}

.MuiToolbar-root {
	display: flex !important;
	justify-content: space-between !important;
}
.form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form__button {
	margin-top: 15px !important;
}

.form__buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10%;
}

.form__list {
	text-align: center;
	margin-top: 20px;
}

.form__list .MuiTypography-root {
	margin: 10px auto;
}
